@import url("assets/section-css/reset.css");
@import url("assets/section-css/header.css");
@import url("assets/section-css/hero.css");
@import url("assets/section-css/text-move.css");
@import url("assets/section-css/features.css");
@import url("assets/section-css/about.css");
@import url("assets/section-css/latest-project.css");
@import url("assets/section-css/latest-launch.css");
@import url("assets/section-css/feature-highlight.css");
@import url("assets/section-css/partner.css");
@import url("assets/section-css/video.css");
@import url("assets/section-css/portfolio.css");
@import url("assets/section-css/service.css");
@import url("assets/section-css/team.css");
@import url("assets/section-css/testimonial.css");
@import url("assets/section-css/pricing.css");
@import url("assets/section-css/blog.css");
@import url("assets/section-css/call-action.css");
@import url("assets/section-css/contact.css");
@import url("assets/section-css/faq.css");
@import url("assets/section-css/404.css");
@import url("assets/section-css/footer.css");
@import url("assets/section-css/sidebar-popup.css");
@import url("assets/section-css/page-title.css");


.hero-section {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.382);
  z-index: 2;
}

.hero-content {
  position: relative;
  z-index: 3;
  color: #fff;
  max-width: 960px;
  padding: 20px;
}

.hero-content h1 {
 
  color: #e7c954 !important;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  line-height: 1.6;
  color: #acacac;
}

.hero-btn {
  background: #f39c12;
  color: #fff;
  padding: 14px 32px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 8px;
  transition: background 0.3s ease;
}

.hero-btn:hover {
  background: #e67e22;
}


.swiper-new {
  width: 100%;
  height: 100vh;
  padding: 0 0 40px;
}
.swiper-slide-new {
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding: 0 16px;
  height: 100%;
  background: transparent;
}
.swiper-slide-new .tc-latest-project__item.compact {
  width: 100%;
  height: 100%;
  border-radius: 36px;
}
.swiper-slide-new .tc-latest-project__content {
  padding: 32px;
}
@media only screen and (max-width: 991px) {
  .swiper-new {
    height: 90vh;
  }
  .swiper-slide-new {
    padding: 0 8px;
  }
}
@media only screen and (max-width: 767px) {
  .swiper-new {
    height: 90vh;
    padding-bottom: 24px;
  }
  .swiper-slide-new {
    padding: 0;
  }
  .swiper-slide-new .tc-latest-project__item.compact {
    border-radius: 24px;
  }
  .swiper-slide-new .tc-latest-project__content {
    padding: 20px;
  }
}
