@import url("assets/section-css/reset.css");
@import url("assets/section-css/header.css");
@import url("assets/section-css/hero.css");
@import url("assets/section-css/text-move.css");
@import url("assets/section-css/features.css");
@import url("assets/section-css/about.css");
@import url("assets/section-css/partner.css");
@import url("assets/section-css/video.css");
@import url("assets/section-css/portfolio.css");
@import url("assets/section-css/service.css");
@import url("assets/section-css/team.css");
@import url("assets/section-css/testimonial.css");
@import url("assets/section-css/pricing.css");
@import url("assets/section-css/blog.css");
@import url("assets/section-css/call-action.css");
@import url("assets/section-css/contact.css");
@import url("assets/section-css/faq.css");
@import url("assets/section-css/404.css");
@import url("assets/section-css/footer.css");
@import url("assets/section-css/sidebar-popup.css");
